doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, shrink-to-fit=no, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title TurnUp
    // Bootstrap Core CSS
    link(href='css/bootstrap.min.css', rel='stylesheet')
    // Custom CSS
    link(href='css/simple-sidebar.css', rel='stylesheet')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')

  body
    #wrapper
      // Sidebar
      #sidebar-wrapper
        ul.sidebar-nav
          li.sidebar-brand
            h3 TurnUp
          li
            a(href='#story' data-spy="scroll" data-target="#story") Problem
          li
            a(href='#cleaning' data-spy="scroll" data-target="#cleaning") Cleaning Data
          li
            a(href='#analysis' data-spy="scroll" data-target="#analysis") Analysing Data
          li
            a(href='#building' data-spy="scroll" data-target="#building") Building a predictive model
          li
            a(href='#applications' data-spy="scroll" data-target="#applications") Applications
          li
            a(href='#future' data-spy="scroll" data-target="#future") Future Work
          li
            a(href='https://github.com/ichealthhack/TurnUp') GitHub
      // /#sidebar-wrapper
      // Page Content
      #page-content-wrapper
        .container-fluid
          .row#story
            .col-lg-12
              h1 Problem
              p Our idea started from a problem. 30% of patients don't show up to their medical appointments.
              p The best current solution to this problem is to send an SMS reminder to patients, however, this method is shown to be ineffective.
              p We found a dataset of 300K medical appointment records containing information about the rates of patients showing up to their appointments and the variables involved. So, we decided to analyze this data and to find some useful insights to hopefully lead us to a better solution.

          .row#cleaning
            .col-lg-12
              h1 Cleaning Data
              p The first step was to clean the data and extract the most important variables.
              p The appointment and booking date were given as strings. To make them meaningful, we had to extract hours, day and month from them as individual variables.
              p As a second step, we converted each variable (even day of the week or gender) into a numerical value, to make it easier for our algorithms to build the model.

          .row#analysis
            .col-lg-12
              h1 Analysing Data
              p First, we wanted to see how different variables affected the probability of patients showing up
          .row.analysis
            .col-lg-6.no-pad
              img.graph(src='./images/Age.png')
            .col-lg-6
              h4 From this chart, we can clearly see that different ages have different probability of showing up, however, we can see that a linear regression model would not fit the data.
              h4 Three clusters of individuals are obvious.
              h4 One cluster is those aged between 0 and 18. They are probably going to go to the doctor with their parents, so they are reasonably likely to show up. It is clear that as soon as people turn 18, and stop going with their parents, their probability of turning up decreases dramatically. From the age of 18 onwards there is a clear increasing trend that shows that older people are more likely to turn up.
          br
          .row.analysis
            .col-lg-6
              h4 This graph shows that the time between the day the appointment is booked, and the day of the appointment itself, doesn't affect the probability consistently.
            .col-lg-6.no-pad
              img.graph(src='./images/AwaitingTime.png')
          br
          .row.analysis
            .col-lg-6.no-pad
              img.graph(src='./images/conditions.png')
            .col-lg-6
              h4 Some condition seems to affect the probability more than others.
          br
          .row.analysis
            .col-lg-6
              h4 People don't like appointments on Saturday :)
            .col-lg-6.no-pad
              img.graph(src='./images/Days.png')
          br
          .row.analysis
            .col-lg-6.no-pad
              img.graph(src='./images/HourOfTheDay.png')
            .col-lg-6
              h4 What hour of the day the appointment is doesn't look like a good indicator of the probability patients will turn up.
          br
          .row.analysis
            .col-lg-6
              h4 People are less likely to attend during summer, maybe because they are on vacation?
            .col-lg-6.no-pad
              img.graph(src='./images/Month.png')
          br
          .row.analysis
            .col-lg-6.no-pad
              img.graph(src='./images/sms_reminder.png')
            .col-lg-6
              h4 Very interestingly, sending people sms doesn't look a very effective way of improving attendance.
              h4 We even tried to look at this metric only for patients aged between 18 and 30 (most likely to actively use sms), but the result was the same.

          br
          .row.analysis
            .col-lg-6
              h4 People don't like appointments on Sunday :)
            .col-lg-6.no-pad
              img.graph(src='./images/DayOfTheWeek.png')
          br
          .row#building
            .col-lg-12
              h1 Building a predictive model
              p The next step was to use the insights we got from analysing the data and try to build a Machine Learning model to predict what's the probability of a given patient not turning up.
              p We tried different models.
              p The first one was AWS Machine Learning API, which gave us a AUC of 0.608, which is a acceptable result.
              p However, at the end we preferred to write ourselves the code using python libraries, which made customisation much easier.
              We went for a Bayesian model that gave us a still reasonably good AUC of 0.58.
              img.graph(src='./images/AUC.png')

              p Building the model also allowed us to see which variables are the most influential on the model:

          .row#applications
            .col-lg-12
              h1 Applications
              p This model clearly shows how a deeper insight into this data could help to alleviate the inefficiency in patient attendance.
              p Now we propose one of the many use-cases that this analysis could have:
              p The cost to a medical practice when a patient doesn't turn up is high - £100.
              p It is also inefficient to call all your patients who have booked an appointment.
              p But what if we could selectively target the 10% of them least likely to turn up?
              p Let's say this 10% normally has a no show rate of 40%. Out of 100 appointments, this would result in a loss of 100 * 40 = £4000.
              p Targeting this 10%, if we could lower their not show probability to 30% or less, £1000 could be saved for every 100 appointments.
              p The cost to call these 10% of patients is low - 0.1 * 100 = 10£.
              p This gives a net saving of 990£ every 100 appointments.
              p
              p To sum up, a GP could give us their list of future appointments, we could run our model on it and find out the 10% of the patients least likely to show up.
              p Using an effective reminder method, like for example a phone call, the GP could substantially improve the probability of those patients showing up, without without the need to contact those patients who are likely to tun up.


              p Building the model also allowed us to see which variables are the most influential on the model:
              p

          .row#future
            .col-lg-12
              h1 Future Work
          .row.analysis
            .col-lg-6.no-pad
              img.graph(src='./images/clustering.png')
            .col-lg-6
              h4 Currently, we talk about the patients belonging to 3 groups by age. In future, we can use k-means clustering algorithms to have a better group distribution. We can group people based on other conditions and not just the age. The plot represent all the 300K people divided into 6 groups based on their Age, Time of the appoinment and the awaiting time.
          br
          .row.analysis
            .col-lg-6
              h4 It would be useful to have a better group distribution but how do we select the optimal value for k for the clustering. Here we have plotted the variation between the number of clusters and the sum of the variance of all the points in the respective cluster. From the graph, we infer that k >= 6 will give a pretty good distribution.
            .col-lg-6.no-pad
              img.graph(src='./images/sseelbow.png')
          br
          .row.analysis
            .col-lg-6.no-pad
              img.graph(src='./images/dt.png')
            .col-lg-6
              h4 Using decision trees to predict who will show up by supplying information about the person.
          br
          .row.analysis
            .col-lg-6
              h4 Using patient data to analyse the doctor, i.e. the type of people who visit him/her, male-female ratio and helping the doctor to have an optimal appointment schedule.
            .col-lg-6.no-pad
              img.graph(src='./images/doc.jpg')

    // jQuery
    script(src='js/jquery.js')
    // Bootstrap Core JavaScript
    script(src='js/bootstrap.min.js')
    // Menu Toggle Script

    script.
      $("#wrapper").toggleClass("toggled");
